/* Globals */

:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
    --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    --code-font-size: 0.875em; /* please adjust the ace font size accordingly in editor.js */
}

/* Themes */
/*
Themes originate from Selenized: <https://github.com/jan-warchol/selenized/tree/master#readme>.
To simplify editing, each theme defines its terminal colors plus bg, fg, and color-scheme.
The theme also defines `--inline-code-color` due to code block inversions in dark mode.
Light themes use `var(--brightred)` and dark themes use `var(--blue)`.
The `html` block that follows these themes uses those terminal colors to define the mdBook colors.
*/

.white {
    --bg: #ffffff;
    --fg: #474747;
    --color-scheme: light;
    --inline-code-color: var(--brightred);

    --black: #ebebeb;
    --brightblack: #cdcdcd;

    --red: #d6000c;
    --brightred: #bf0000;

    --green: #1d9700;
    --brightgreen: #008400;

    --yellow: #c49700;
    --brightyellow: #af8500;

    --blue: #0064e4;
    --brightblue: #0054cf;

    --magenta: #dd0f9d;
    --brightmagenta: #c7008b;

    --cyan: #00ad9c;
    --brightcyan: #009a8a;

    --white: #878787;
    --brightwhite: #282828;
}

.light {
    --bg: #fbf3db;
    --fg: #53676d;
    --color-scheme: light;
    --inline-code-color: var(--brightred);

    --black: #e9e4d0;
    --brightblack: #cfcebe;

    --red: #d2212d;
    --brightred: #cc1729;

    --green: #489100;
    --brightgreen: #428b00;

    --yellow: #ad8900;
    --brightyellow: #a78300;

    --blue: #0072d4;
    --brightblue: #006dce;

    --magenta: #ca4898;
    --brightmagenta: #c44392;

    --cyan: #009c8f;
    --brightcyan: #00978a;

    --white: #909995;
    --brightwhite: #3a4d53;
}

.dark {
    --bg: #103c48;
    --fg: #adbcbc;
    --color-scheme: dark;
    --inline-code-color: var(--blue);

    --black: #174956;
    --brightblack: #325b66;

    --red: #fa5750;
    --brightred: #ff665c;

    --green: #75b938;
    --brightgreen: #84c747;

    --yellow: #dbb32d;
    --brightyellow: #ebc13d;

    --blue: #4695f7;
    --brightblue: #58a3ff;

    --magenta: #f275be;
    --brightmagenta: #ff84cd;

    --cyan: #41c7b9;
    --brightcyan: #53d6c7;

    --white: #72898f;
    --brightwhite: #cad8d9;
}

.black {
    --bg: #181818;
    --fg: #b9b9b9;
    --color-scheme: dark;
    --inline-code-color: var(--blue);

    --black: #252525;
    --brightblack: #3b3b3b;

    --red: #ed4a46;
    --brightred: #ff5e56;

    --green: #70b433;
    --brightgreen: #83c746;

    --yellow: #dbb32d;
    --brightyellow: #efc541;

    --blue: #368aeb;
    --brightblue: #4f9cfe;

    --magenta: #eb6eb7;
    --brightmagenta: #ff81ca;

    --cyan: #3fc5b7;
    --brightcyan: #56d8c9;

    --white: #777777;
    --brightwhite: #dedede;
}

/* Invert code blocks for custom dark themes */
.dark .hljs, .black .hljs {
    filter: invert(100%);
}

/* Use the default dark theme in no-js case. */
@media (prefers-color-scheme: dark) {
    /* Default light = light */
    .light.no-js {
        /* Copies default dark = black */
        --bg: #181818;
        --fg: #b9b9b9;
        --color-scheme: dark;
        --inline-code-color: var(--blue);

        --black: #252525;
        --brightblack: #3b3b3b;

        --red: #ed4a46;
        --brightred: #ff5e56;

        --green: #70b433;
        --brightgreen: #83c746;

        --yellow: #dbb32d;
        --brightyellow: #efc541;

        --blue: #368aeb;
        --brightblue: #4f9cfe;

        --magenta: #eb6eb7;
        --brightmagenta: #ff81ca;

        --cyan: #3fc5b7;
        --brightcyan: #56d8c9;

        --white: #777777;
        --brightwhite: #dedede;
    }

    /* And invert code block */
    .light.no-js .hljs {
        filter: invert(100%);
    }
}

html {
    --sidebar-bg: var(--black);
    --sidebar-fg: var(--brightwhite);
    --sidebar-non-existant: var(--white);
    --sidebar-active: var(--blue);
    --sidebar-spacer: var(--white);

    --scrollbar: var(--fg);

    --icons: var(--white);
    --icons-hover: var(--fg);

    --links: var(--blue);

    --theme-popup-bg: var(--black);
    --theme-popup-border: var(--white);
    --theme-hover: var(--brightblack);

    --quote-bg: var(--black);
    --quote-border: var(--brightblack);

    --warning-border: var(--yellow);

    --table-border-color: var(--white);
    --table-header-bg: var(--brightblack);
    --table-alternate-bg: var(--black);

    --searchbar-border-color: var(--black);
    --searchbar-bg: var(--fg);
    --searchbar-fg: var(--bg);
    --searchbar-shadow-color: var(--brightblack);
    --searchresults-header-fg: var(--white);
    --searchresults-border-color: var(--white);
    --searchresults-li-bg: var(--brightwhite);
    --search-mark-bg: var(--cyan);
}
